<% if rating.rating %>
<p class="rating">
	<strong><%= rating.title %></strong>
	<br />
	<strong>Rating:</strong>
	<%= rating.rating %>
	<br />
	<strong>Comment:</strong>
	<%= rating.comment %>
</p>
<% end %>